# 交叉查榜

https://freshman.tw

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
# 106年國立臺灣大學數學系榜單

# 001表示國立臺灣大學
# 092表示國立臺灣大學之數學系編號

url = 'https://freshman.tw/cross/106/001092'

In [3]:
request_headers = {
    'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) '\
                 'AppleWebKit/537.36 (KHTML, like Gecko) '\
                 'Chrome/61.0.3163.100 Safari/537.36'
}

In [4]:
res = requests.get(url, headers=request_headers)

In [5]:
res

In [6]:
# 確認正取 1 之學號在 text 裡
if '10163603' in res.text:
    print('right')

right

---

In [7]:
soup = BeautifulSoup(res.text, 'html.parser')

In [8]:
soup.title

In [9]:
even_lists = soup.find_all("tr", class_="even showPhoto")

In [10]:
odd_lists = soup.find_all("tr", class_="odd showPhoto")

---

Test to Find Name

In [11]:
even0 = soup.select("tr[class=\"even showPhoto\"]")[0]

In [12]:
even0.select("td")[2]

In [13]:
evens = soup.select("tr[class=\"even showPhoto\"]")

In [14]:
len(evens)

42

---

In [24]:
for i in range(0, len(evens)):
    even0 = soup.select("tr[class=\"even showPhoto\"]")[i]
    print(even0.select("td")[2])

<td rowspan="6">吳雋毅<span style="display:none">6</span></td>
<td rowspan="6">何承<span style="display:none">6</span></td>
<td rowspan="2">馬宗儀<span style="display:none">2</span></td>
<td rowspan="4">李昇峰<span style="display:none">4</span></td>
<td rowspan="3">王晧任<span style="display:none">3</span></td>
<td rowspan="3">李巧柔<span style="display:none">3</span></td>
<td rowspan="6">洪晨翔<span style="display:none">6</span></td>
<td rowspan="4">林泳霖<span style="display:none">4</span></td>
<td rowspan="3">汪皓哲<span style="display:none">3</span></td>
<td rowspan="5">陳捷<span style="display:none">5</span></td>
<td rowspan="5">葉力嘉<span style="display:none">5</span></td>
<td rowspan="4">董修華<span style="display:none">4</span></td>
<td rowspan="3">黃品文<span style="display:none">3</span></td>
<td rowspan="3">張皓鈞<span style="display:none">3</span></td>
<td rowspan="1">林○宇<span style="display:none">1</span></td>
<td rowspan="6">王彥鈞<span style="display:none">6</span></td>
<td rowspan="2">黃才展<span style="display:none">2</span></td>
<td rowspan="4">陳芃<span style="display:none">4</span></td>
<td rowspan="6">林書年<span style="display:none">6</span></td>
<td rowspan="6">沈郁鈞<span style="display:none">6</span></td>
<td rowspan="5">鄭光淳<span style="display:none">5</span></td>
<td rowspan="3"><span style="display:none">3</span></td>
<td rowspan="6">白喬雨<span style="display:none">6</span></td>
<td rowspan="3"><span style="display:none">3</span></td>
<td rowspan="1"><span style="display:none">1</span></td>
<td rowspan="3">陳冠廷<span style="display:none">3</span></td>
<td rowspan="2"><span style="display:none">2</span></td>
<td rowspan="4"><span style="display:none">4</span></td>
<td rowspan="5">王弘德<span style="display:none">5</span></td>
<td rowspan="3">呂理謙<span style="display:none">3</span></td>
<td rowspan="5"><span style="display:none">5</span></td>
<td rowspan="2">黃右瑾<span style="display:none">2</span></td>
<td rowspan="2">陳柏嘉<span style="display:none">2</span></td>
<td rowspan="4"><span style="display:none">4</span></td>
<td rowspan="5">陳政瑞<span style="display:none">5</span></td>
<td rowspan="5">吳國宏<span style="display:none">5</span></td>
<td rowspan="6">石家榕<span style="display:none">6</span></td>
<td rowspan="2">朱家慶<span style="display:none">2</span></td>
<td rowspan="6">吳崇維<span style="display:none">6</span></td>
<td rowspan="2"><span style="display:none">2</span></td>
<td rowspan="6">郭宇軒<span style="display:none">6</span></td>
<td rowspan="6">陳佑昕<span style="display:none">6</span></td>

In [20]:
for i in range(0, len(evens)):
    even0 = soup.select("tr[class=\"even showPhoto\"]")[i]
    print(even0.select("span[class=\"number\"]")[0].text)

10163603
10096036
10074010
10270525
10010328
10018829
10271713
10203803
10229719
10036225
10023705
10165003
10161639
10106741
NTU0600591
10022717
10008009
10010539
10010927
10018025
10021113
10023703
10033118
10033216
10034030
10034738
10064821
10067536
10089732
10095430
10102922
10115207
10161727
10162129
10165115
10175832
10185106
10200714
10201605
10229235
10246004
10295617